.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.650);
    overflow: hidden;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.overlayVisible {
    visibility: visible;
    opacity: 1;
}

.overlayVisible > .drawer {
    transform: translateX(0);
}

.drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 385px;
    height: 100%;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transform: translateX(385px);
    transition: transform 0.3s ease-in-out;
}

.closeBtn:hover {
    box-shadow: 0px 0px 5px rgba(15, 13, 13, 0.349);
    transform: translateY(-1px);
    border-radius: 10px;
    cursor: pointer;
}

.totalBlock {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.totalBlock ul {
    display: flex;
    flex-direction: column;
}

.totalBlock li {
    display: flex;
    justify-content: space-between;
}

.dottedLine {
    height: 1px;
    width: 167px;
    border-bottom: 1px dashed #dfdfdf;
    align-self: center;
}

.totalBlock button {
    position: relative;
    background-color: #9DD458;
    border-radius: 25px;
    height: 55px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.totalBlock button:hover {
    background-color: #9cd458ce;
}

.totalBlock button:hover img {
    transform: translateX(5px);
}

.totalBlock button > img {
    position: absolute;
    right: 30px;
    top: 21px;
    transition: transform 0.15s ease-in-out;
}

