.wrapper {
    width: 1080px;
    border-radius: 20px;
    background-color: #fff;
    margin: 100px auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #EAEAEA;
    padding: 45px;
}

.leftSection {
    display: flex;
    column-gap: 10px;
}

.leftSection p {
    font-weight: 700;
    font-size: 14px;
    color: #9D9D9D;
    padding-left: 2px;
}

.rightSection {
    align-items: center;
    display: flex;
    column-gap: 20px;
}

.cartBtn {
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(153, 135, 135, 0.349);
    padding: 5px;
}

.cartBtn b {
    font-weight: 900;
    font-size: 18px;
    color: #5C5C5C;
    
}

.cartBtn:hover {
    box-shadow: 0px 0px 10px rgba(15, 13, 13, 0.349);
    transform: translateY(-1px);
}

.main {
    margin: 0 auto;
    width: 970px;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search input {
    width: 250px;
    height: 45px;
    padding: 15px 15px 15px 40px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
    background-image: url("./images/search.svg");
    background-repeat: no-repeat;
    background-position: 8px;
    font-size: 18px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    padding-bottom: 40px;
}